language: python

sudo: false

cache:
  # Apparently if you override the install command that silently disables the
  # cache: pip support. This is less than ideal and I've opened up
  # travis-ci/travis-ci#3239 to hopefully get that addressed. For now I'll
  # manually add the pip cache directory to the build cache.
  directories:
    - ~/.cache/pip


python:
  - "3.6"

before_install:
  - pip install -U pip

install:
  - "pip install coveralls"
  - "pip install -e .[test]"

script:
  - py.test --cov supermercado --cov-report term-missing -vv

after_success:
  - bash <(curl -s https://codecov.io/bash)
